body {
    font-family: 'Gruppo', cursive;
}

.logo-title {
    font-family: 'Gugi', cursive;
    font-size: 80px;
}
.logo-description {
    font-family: 'Gruppo', cursive;
    font-size: 28px;
}
.nav-item {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

.social {
    font-size: 24px;
    color: black;
    padding: 5px;
}
.social:hover {
    cursor: pointer;
    color: blue;
    opacity: 0.6;
}
.copyright {
    font-size: 14px;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0;
}
.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #696969, #555555, #333333);
    color: white;
    margin: 0;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: #000;
}

@media screen and (max-width: 360px) {
    .logo-title {
        font-size: 60px;
    }
    .logo-description {
        font-size: 16px;
    }
}
.signUp {
    color: black;
}
.tab-pane {
    padding: 30px;
    text-align: center;
    border: solid 1px lightGray;
    border-top: none;
    border-radius: 3px;
}
.thick {
    font-weight: 600;
}
.tab-header {
    color: black;
}
.tab-header:hover {
    cursor: pointer;
    color: black;
    opacity: 0.6;
}
.price {
    font-size: 60px;
    font-weight: 700;
}
.small-text {
    font-size: 12px;
}